# Binary
bin

# Haskell
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
*.prof
*.aux
*.hp

# Haskell Cabal
dist
cabal-dev
.cabal-sandbox/
cabal.sandbox.config

# Haskell Stack
.stack-work

# Mac
.DS_Store
